<!-- Assignment Part 2 -->
<!-- Name:Shu-Wei, Yeh  -->
<!-- Student ID: 22862541 -->
<!-- Campus: SCU Melbourne -->
<h2>Add Unit</h2>
<form>
  <label for="newCode">Unit Code:</label>
  <input type="text" id="newCode" required [(ngModel)]=newCode name="newCode" />
  <br>
  <label for="newName">Unit Name:</label>
  <input type="text" id="newName" required [(ngModel)]=newName name="newName" />
  <br>
  <label for="session">Session:</label>
  <select #selectSesstion class="form-control" id="session" required [(ngModel)]="session" name="session">
    <option *ngFor="let se of sessions" [value]="se">{{se}}</option>
  </select>
  <br>
  Level:
  <span *ngFor="let level of levels">
    <label for="{{level.value}}">{{level.display}}</label>
    <input type="radio" name="level" id="{{level.value}}" [(ngModel)]="this.newLevel" value="{{level.value}}" />
  </span>
  <br>
  <label for="newEnrolments">Enrolments:</label>
  <input type="number" [(ngModel)]="newEnrolments" name="newEnrolments" id="newEnrolments" min="0" max="100" step="5" />
  <br>
  <button type="button" (click)="add()">Add Unit</button>
  <input type="reset" value="Reset form" />
  <p>{{message}}</p>
</form>