<!-- Assignment Part 2 -->
<!-- Name:Shu-Wei, Yeh  -->
<!-- Student ID: 22862541 -->
<!-- Campus: SCU Melbourne -->
<nav>
  <a routerLink='/home' routerLinkActive="active">Home</a>
  <a routerLink='/list' routerLinkActive="active">Unit List</a>
  <a routerLink='/add' routerLinkActive="active">Add Unit</a>
  <a routerLink='/browse' routerLinkActive="active">Browse Unit</a>
  <a routerLink='/pageNotFound' routerLinkActive="active">Page Not Found</a>
  <a routerLink='/help' routerLinkActive="active">Help</a>
</nav>
